<!-- <div class="d-flex justify-content-center align-items-center gap-2">
    <button type="button" class="btn btn-primary btn-lg">New task</button>
  </div> -->
<div data-bs-toggle="modal" data-bs-target="#exampleModal">
  <button class="btn btn-primary btn-lg" type="button">New task</button>
</div>

<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          New Task information
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form (ngSubmit)="addTask()">
        <div class="modal-body">
          <div class="form-floating mb-3">
            <input
              name="name"
              type="text"
              class="form-control"
              placeholder="Name"
              [(ngModel)]="newTask.name"
              [ngModelOptions]="{standalone: true}"
            />
            <label for="nameTask">Name</label>
          </div>
          <div class="form-floating mb-3">
            <input
              name="description"
              type="text"
              multiple
              class="form-control"
              placeholder="Description"
              [(ngModel)]="newTask.description"
              [ngModelOptions]="{standalone: true}"
            />
            <label for="descriptionTask">Description</label>
          </div>
          <div class="form-floating">
            <select
              class="form-select"
              id="priority"
              aria-label="Floating label select example"
              [(ngModel)]="newTask.priority"
              [ngModelOptions]="{standalone: true}"
            >
              <option selected>Select priority</option>
              <option value="high">high</option>
              <option value="medium">medium</option>
              <option value="low">low</option>
            </select>
            <label for="floatingSelect">Priority</label>
          </div>
          <br />
          <div class="form-floating mb-3">
            <input
              name="startDate"
              type="date"
              class="form-control"
              placeholder="Start date"
              [(ngModel)]="newTask.startDate"
              [ngModelOptions]="{standalone: true}"
            />
            <label for="descriptionTask">Start date</label>
          </div>
          <div class="form-floating mb-3">
            <input
              name="dueDate"
              type="date"
              class="form-control"
              placeholder="Due date"
              [(ngModel)]="newTask.dueDate"
              [ngModelOptions]="{standalone: true}"
            />
            <label for="descriptionTask">Due date</label>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Add task</button>
        </div>
      </form>
    </div>
  </div>
</div>
